@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Red+Hat+Mono&family=Red+Rose&family=Reem+Kufi:wght@400;500&family=Source+Sans+Pro&display=swap');

body{
    background-color: white;
}

.abdi1 h1 {
    margin-left: 70px;
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
}

.abdi1 {
    display: flex;
    justify-content: space-between;
    color: black;
}

.abdi1 ul {
    align-self: center;
    margin-right: 70px;
    font-family: 'Fredoka';
}

.abdi1 li {
    display: inline;
    margin: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }

  .wrap h1{
      text-align: center;
      margin-top: 70px;
      font-family: 'Courier New', Courier, monospace;
  }